.Main-List{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    margin: 0;
    padding: 0;
    list-style: none;

}
.Game-Spacer {
    display: inline-block;
    width: max-content;
    min-width: 100px;
    padding: 5px;
}
.tutorial{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    padding-left: 30px;
    height: 100%;
    width: 10svw;
}
.Selection-Button-Div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: fit-content;
    max-width: 80%;
    padding: 0;
    background-color: cadetblue;
    border-radius: 5px;
    button{
        margin: 5px 5px;
        min-height: 40px;
        height: auto;
        aspect-ratio: 2/1;
    }
    #Selected{
        background-color: rgb(107, 158, 208);
    }
    #Selected:hover{
        background-color: rgb(83, 157, 232);
    }
    #Unselected{
        background-color: rgb(202, 202, 202);
    }
    #Unselected:hover{
        background-color: rgb(98, 98, 98);
    }
}