.Main-List{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    margin: 0;
    padding: 0;
    list-style: none;

}
.Game-Spacer {
    padding: 5px;
    div{
        margin: 0;
        min-width: 5svw;
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 5%;
            p{
                margin: 0;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                width: auto;
            }
            img{
                vertical-align: middle;
                width: 30px;
                aspect-ratio: 1/1;
            }
        }
    }
}
.tutorial{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    padding-left: 30px;
    height: 100%;
    width: 10svw;
}
.Selection-Button-Div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: fit-content;
    max-width: 80%;
    padding: 0;
    background-color: cadetblue;
    border-radius: 5px;
    #Selected{
        background-color: rgb(107, 158, 208);
    }
    #Selected:hover{
        background-color: rgb(83, 157, 232);
    }
    #Unselected{
        background-color: rgb(202, 202, 202);
    }
    #Unselected:hover{
        background-color: rgb(98, 98, 98);
    }
    .Selectable-Material{
        display: flex;
        margin: 5px;
        button{
            margin: 5px;
            min-height: 40px;
            height: auto;
            aspect-ratio: 2/1;
        }
        select{
            user-select: none;
            margin: 5px;
            min-height: 40px;
            height: auto;
            aspect-ratio: 2/1;
            option{
                user-select: none;
                border: 1px solid black;
            }
        }
        li{
            list-style-type:none;
        }
        .Cost-List{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{
                display: flex;
                background-color: white;
                padding:5px;
                border-radius: 5px;
                margin-left: 3px;
                img{
                    height: auto;
                    width: 20px;
                    aspect-ratio: 1/1;
                    margin: 0;
                    padding: 0;
                }
            }
            .Cost-Build{
                margin-right: 20px;
            }
        }
    }
}